<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".RBVApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RBV">
        <activity
            android:name=".activities.ManageMedia"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/manage_media" />
        <activity
            android:name=".activities.ManageFiles"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/manage_files_without_media" />
        <activity
            android:name=".activities.EditCardMedia"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/edit_card_media" />
        <activity
            android:name=".activities.AppLicenses"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/licenses" />
        <activity
            android:name=".activities.Settings"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/settings" />
        <activity
            android:name=".activities.AdvancedSearch"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/advanced_search" />
        <activity
            android:name=".activities.EditCollection"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/edit_collection" />
        <activity
            android:name=".activities.EditPack"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/edit_pack" />
        <activity
            android:name=".activities.EditCard"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/edit_card" />
        <activity
            android:name=".activities.ViewCollection"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name=".activities.ViewPack"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name=".activities.ViewCard"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name=".activities.NewCollection"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/new_collection" />
        <activity
            android:name=".activities.NewPack"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/new_pack" />
        <activity
            android:name=".activities.NewCard"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/new_card" />
        <activity
            android:name=".activities.ListPacks"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name=".activities.ListCards"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name=".activities.ListCollections"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="true"
            android:label="@string/app_name_short">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
</manifest>
