<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.herrmann_engel.rbv">
    <application
        android:name=".RBVApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RBV">
        <activity
            android:configChanges="orientation|screenSize|screenLayout"
            android:name=".AppLicenses"
            android:label="@string/licenses" />
        <activity
            android:configChanges="orientation|screenSize|screenLayout"
            android:name=".Settings"
            android:label="@string/settings" />
        <activity
            android:configChanges="orientation|screenSize|screenLayout"
            android:name=".AdvancedSearch"
            android:label="@string/advanced_search" />
        <activity
            android:configChanges="orientation|screenSize|screenLayout"
            android:name=".EditCollection"
            android:label="@string/edit_collection" />
        <activity
            android:configChanges="orientation|screenSize|screenLayout"
            android:name=".EditPack"
            android:label="@string/edit_pack" />
        <activity
            android:configChanges="orientation|screenSize|screenLayout"
            android:name=".EditCard"
            android:label="@string/edit_card" />
        <activity
            android:configChanges="orientation|screenSize|screenLayout"
            android:name=".ViewCollection" />
        <activity
            android:configChanges="orientation|screenSize|screenLayout"
            android:name=".ViewPack" />
        <activity
            android:configChanges="orientation|screenSize|screenLayout"
            android:name=".ViewCard" />
        <activity
            android:configChanges="orientation|screenSize|screenLayout"
            android:name=".NewCollection"
            android:label="@string/new_collection" />
        <activity
            android:configChanges="orientation|screenSize|screenLayout"
            android:name=".NewPack"
            android:label="@string/new_pack" />
        <activity
            android:configChanges="orientation|screenSize|screenLayout"
            android:name=".NewCard"
            android:label="@string/new_card" />
        <activity
            android:configChanges="orientation|screenSize|screenLayout"
            android:name=".ListPacks" />
        <activity
            android:configChanges="orientation|screenSize|screenLayout"
            android:name=".ListCards" />
        <activity
            android:configChanges="orientation|screenSize|screenLayout"
            android:name=".ListCollections"
            android:label="@string/app_name_short"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
</manifest>
